.user-info{
	margin : 10px;
	color: #ffffff;
}

body{
	padding : 10px;
}

.align-center{
	text-align: center;
}

.no-styling, .no-styling :hover{
	color: #ffffff;
	text-decoration: underline;
}

.version-text{
	font-weight: bold;
	font-size: 10px;
}

.title{
	color: #ffffff;
}

.loader{
	margin-left: 45%;
}

.pointer{
	cursor: pointer;
}

.editor-background{
	background-color: #ecf0f1;
	padding : 10px;

}

.btn {
	border-radius: 0px;
}

.editor-title{
	margin-left: 40%;
	color : #7f8c8d;
	font-weight: bold;
}

.authentication{
	font-size:12px;
}

.refer{
	color : #7f8c8d;
	margin-left: 3%;
	font-weight: bold;
}

.osm-api-link, .osm-api-link:hover{
	color : #338CD5;
}
